<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <security>
            <requestFiltering>
                <!-- Aumentar limite de upload do IIS para 512 MB (536870912 bytes) -->
                <requestLimits maxAllowedContentLength="536870912" />
            </requestFiltering>
        </security>
    </system.webServer>
</configuration>
