<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <security>
            <requestFiltering>
                <!-- Aumentar limite de upload do IIS para o limite físico máximo do IIS (4.29 GB / 4294967295 bytes) -->
                <requestLimits maxAllowedContentLength="4294967295" />
            </requestFiltering>
        </security>
    </system.webServer>
</configuration>
